@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

*[class*="col-"] {
    padding: 0px 12px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --color-primary: #4361ee;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-8 {
    gap: 8px;
}

.left-m-100 {
    left: -100% !important;
}
.left-0{
    left: 0;
}

.m-0 {
    margin: 0 !important;
}

body {
    background-color: #fafafa;
}

.logo-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.side-btn {
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
}

.side-btn:hover {
    background-color: #e0e6ed66;
}

aside {
    z-index: 999;
    background-color: white;
    width: 260px;
    height: 100vh;
    --tw-shadow: 5px 0 25px 0 #5e5c9a1a;
    --tw-shadow-colored: 5px 0 25px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 16px;
    display: block;
    transition: 0.3s all ease-in-out;
}

.main-body {
    margin-left: 260px;
}

.hidden {
    display: none;
}

header {
    padding: 10px 20px;
    background-color: #ffffff;
}

.main-nav {
    width: 100%;
    justify-content: space-between;
}

.menu-bar,
.main-nav ul .circle-icon {
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e6ed66;
}

.menu-bar,
.main-nav ul .circle-icon:hover {
    color: rgb(67 97 238);
}

.search-tab {
    border: none;
    outline: none;
    padding: 8px 16px 8px 36px;
    border-radius: 10px;
}

.search {
    border: 1px solid rgb(224 230 237);
    position: relative;
    border-radius: 10px;
}

.search-btn {
    font-size: 36px;
}

.srch-icon {
    content: "";
    position: absolute;
    top: 7px;
    left: 12px;
}

.flag-icon img {
    border-radius: 9999px;
}

.user-img img {
    border-radius: 9999px;
    width: 2.25rem;
    height: 2.25rem;
    max-width: 100%;
    display: block;
}

.scrollbar-menu {
    height: calc(100vh - 38px);
    padding: 5px;
    overflow: scroll;
    scrollbar-width: thin;
}

.scroll-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: .25rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border-radius: .375rem;
    cursor: pointer;
    background-color: transparent;
}

.active {
    background-color: #ebebeb;
}

.btn-name {
    padding-right: 30px;
}

.menu-list li {
    width: 100%;
    padding: .625rem 2.25rem;
    cursor: pointer;
    position: relative;
}

.menu-list li:hover {
    --tw-text-opacity: 1;
    color: rgb(67 97 238);
    background-color: #e5e7eb;
}

.scroll-btn span {
    font-size: 16px;
}

.menu-list li::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: rgb(209 213 219);
    left: 10%;
    top: 47%;
}

.menu-name {
    --tw-text-opacity: 1;
    color: rgb(107 114 128);
}

.app-title {
    text-transform: uppercase;
    font-weight: 800;
    padding: 12px 28px;
    background-color: #e0e6ed4d;
    margin: 2px -16px 0px;
    font-size: inherit;
}

.item-details {
    margin-bottom: .25rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-radius: .375rem;
    padding: .625rem;
    --tw-text-opacity: 1;
    cursor: pointer;
}

.nav-icon {
    color: #0e172680;
}

.nav-icon:hover {
    color: var(--color-primary);
}

.invoice-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: .25rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border-radius: .375rem;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(80 102 144)
}

.menu-name:hover::after {
    background-color: var(--color-primary);
}

.menu-item ul:not(.first) {
    display: none;
}

.right-side-nav,
.right-icon {
    position: relative;
}

.dropdown {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    margin-top: .25rem;
    min-width: 120px;
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .5rem 0;
    padding-top: 0;
    --tw-text-opacity: 1;
    color: rgb(14 23 38 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    top: 40px;
    right: 40%;
    width: 375px;
    transition: 0.4s all linear;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.message {
    padding: 1.25rem;
    background-image: url("https://html.vristo.sbthemes.com/assets/images/menu-heade.jpg");
    background-position: 50%;
    background-size: cover;
}

.row-1 {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: center;
}

.msg-img {
    --tw-bg-opacity: 1;
    background-color: rgb(221 245 240);
    border-radius: 9999px;
    place-content: center;
    height: 2.25rem;
    width: 2.25rem;
    --tw-text-opacity: 1;
    color: rgb(0 171 85 / var(--tw-text-opacity));
    display: grid;
}

.msg-txt {
    padding-left: .75rem;
    padding-right: .75rem;
}

.big-txt {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25rem;
}

.small-txt {
    font-size: 12px;
}

.time-txt {
    margin-right: .5rem;
    margin-left: auto;
    color: #3b3f5c99;
    font-weight: 600;
    padding-left: .25rem;
    padding-right: .25rem;
    background-color: #888ea833;
    border-radius: .25rem;
    font-size: 12px;
}

.row-btn {
    color: rgb(212 212 212);
    cursor: pointer;
    border: none;
    background-color: none;
}

.msg-img2 {
    --tw-text-opacity: 1;
    color: rgb(33 150 243);
    --tw-bg-opacity: 1;
    background-color: rgb(231 247 255);
    border-radius: 9999px;
    place-content: center;
    height: 2.25rem;
    width: 2.25rem;
    display: grid;
}

.msg-img3 {
    --tw-text-opacity: 1;
    color: rgb(231 81 90);
    --tw-bg-opacity: 1;
    background-color: rgb(255 245 245);
    border-radius: 9999px;
    place-content: center;
    height: 2.25rem;
    width: 2.25rem;
    display: grid;
}

.msg-img4 {
    --tw-text-opacity: 1;
    color: rgb(226 160 63);
    --tw-bg-opacity: 1;
    background-color: rgb(255 249 237);
    border-radius: 9999px;
    place-content: center;
    height: 2.25rem;
    width: 2.25rem;
    display: grid;
}

.main-finance {
    padding: 24px;
}

.dash-name {
    color: #4361ee;
    font-size: 14px;
}

.fin-name {
    font-size: 14px;
}

.finance-part {
    padding: 20px 0px 0px;
}

.first-panel {
    height: 156px;
    --tw-gradient-to: #22d3ee;
    --tw-gradient-from: #06b6d4;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.panel-title {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.panel-dropdown span svg {
    opacity: .7;
    width: 1.25rem;
    height: 1.25rem;
    color: white;
}

.no-txt {
    margin-right: .75rem;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: white;
}

.mt-5 {
    margin-top: 1.25rem;
    align-items: center
}

.white-badge {
    background-color: #ffffff4d;
    position: relative;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-radius: .25rem;
    border-width: 1px;
    border-color: #0000;
    padding: .125rem .5rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.new {
    color: white;
}

.second-panel {
    height: 156px;
    --tw-gradient-to: #a78bfa;
    --tw-gradient-from: #8b5cf6;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.third-panel {
    height: 156px;
    --tw-gradient-to: #60a5fa;
    --tw-gradient-from: #3b82f6;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fourth-panel {
    height: 156px;
    --tw-gradient-to: #e879f9;
    --tw-gradient-from: #d946ef;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.sec-title {
    padding: 20px;
}

.sec-title span {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.sect-subtitle {
    font-size: 14px;
    color: var(--color-primary);
    font-weight: 700;
}

.sect-subtitle:hover {
    --tw-text-opacity: 1;
    color: rgb(14 23 38);
}

.fav-panel {
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.content {
    margin-left: .5rem;
}

.content-title {
    font-size: 14px;
    --tw-text-opacity: 1;
    color: rgb(59 63 92);
    font-weight: inherit;
}

.content-subtitle {
    --tw-text-opacity: 1;
    color: rgb(136 142 168);
    font-size: 12px;
    line-height: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

/* previous-statement */

.pre-panel {
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 30px;
    overflow: hidden;
}

.statement-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.75rem;
}

.txt-success {
    --tw-text-opacity: 1;
    color: rgb(0 171 85);
    font-size: 14px;
}

.data {
    margin-top: 2.5rem;
}

.txt-primary {
    --tw-text-opacity: 1;
    color: rgb(67 97 238);
}

.dollar {
    font-size: 24px;
    margin-top: .5rem;
    line-height: 2rem;
    font-weight: 600;
}

.txt-success-1 {
    --tw-text-opacity: 1;
    color: rgb(231 81 90);
    font-size: 14px;
}

.dollar-1 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.percentage {
    --tw-text-opacity: 1;
    color: rgb(0 171 85);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem
}

.chart-title {
    margin-top: 20px;
}

.char-2 {
    --tw-bg-opacity: 1;
    background-color: rgb(226 160 63 / var(--tw-bg-opacity));
    padding: .5rem
}

.border-radius {
    border-radius: 9999px
}

.recent-panel {
    position: relative;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 30px;
}

.recent-tras-title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

.table-title th {
    font-weight: 600;
    text-align: left;
    padding: .75rem 1rem;
}

.table-content td {
    padding: .75rem 1rem;
    font-weight: 600;
}

.badge-effect {
    position: relative;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-width: 1px;
    border-color: #0000;
    padding: .125rem .5rem;
    font-size: .75rem;
    line-height: 1rem;
    background-color: #00ab5533;
    border-radius: 9999px;
}

.badge-effect-blue {
    position: relative;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-width: 1px;
    border-color: #0000;
    font-size: .75rem;
    line-height: 1rem;
    padding: .125rem .5rem;
    --tw-text-opacity: 1;
    color: rgb(33 150 243);
    background-color: #2196f333;
    border-radius: 9999px;
}

.badge-effect-red {
    position: relative;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-width: 1px;
    border-color: #0000;
    font-size: .75rem;
    line-height: 1rem;
    padding: .125rem .5rem;
    --tw-text-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(231 81 90);
    background-color: #e7515a33;
    border-radius: 9999px;
}

.card-details {
    position: relative;
}

.green-tick svg {
    --tw-text-opacity: 1;
    color: rgb(0 171 85 / var(--tw-text-opacity));
    opacity: .2;
    position: absolute;
    content: "";
    bottom: -81%;
    left: 91%;
    height: 100px;
    width: 100px;
}

.red-tick svg {
    --tw-text-opacity: 1;
    color: rgb(231 81 90 / var(--tw-text-opacity));
    opacity: .2;
    position: absolute;
    content: "";
    bottom: -14%;
    left: 89%;
    height: 100px;
    width: 100px;
}

.p-0 {
    padding: 0;
}

.noti-img1 span img {
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    display: block;
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.noti-name {
    font-size: .875rem;
    line-height: 1.25rem;
}

.noti-simple-txt {
    font-size: .875rem;
    line-height: 1.25rem;
}

.noti-btn {
    position: relative;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-radius: .25rem;
    border-width: 1px;
    border-color: #0000;
    padding: .125rem .5rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    background-color: #4361eecc;
}

.noti-time {
    font-size: .75rem;
    line-height: 1rem;
    display: block;
}

.p-4 {
    padding: 1rem;
}

.noti-big-btn {
    width: 100%;
    display: block;
    --tw-border-opacity: 1;
    border-color: rgb(67 97 238);
    --tw-bg-opacity: 1;
    background-color: rgb(67 97 238);
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    --tw-shadow-color: #4361ee99;
    --tw-shadow: var(--tw-shadow-colored);
}

.py-16 {
    padding: 16px;
}

.pro-img img {
    border-radius: .375rem;
    width: 40px;
    height: 40px;
}

.pro-name {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
}

.name-pro {
    --tw-text-opacity: 1;
    color: rgb(0 171 85);
    font-size: .75rem;
    line-height: 1rem;
    padding-left: .25rem;
    padding-right: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(221 245 240);
    border-radius: .25rem;
}

.pro-mail {
    color: #0e172699;
    font-size: 14px;
    line-height: 1.5rem;
}

.profile-1 {
    padding: .5rem 1rem;
}

.pro-title {
    height: 18px;
    display: block;
}

.sign-out {
    height: 18px;
    display: block;
    --tw-text-opacity: 1;
    color: rgb(231 81 90);
}

.transform-90 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-rotate: 90deg;
}

.dropdown-2 ul {
    position: absolute;
    z-index: 10;
    margin-top: .25rem;
    min-width: 120px;
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .5rem 0;
    --tw-text-opacity: 1;
    color: rgb(14 23 38 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    right: 30px;
    top: 45px;
}

.pd-8-16 {
    padding: 8px 16px;
}

table {
    overflow-x: scroll;
}

.flag {
    position: absolute;
    z-index: 10;
    margin-top: .25rem;
    min-width: 120px;
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .5rem 0;
    --tw-text-opacity: 1;
    color: rgb(14 23 38 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.flag-name {
    padding: .5rem 1rem;
}

.flag-name img {
    object-fit: cover;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
}

.padding{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 183px;
}

.main-bg{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.sg-sub-title {
    --tw-text-opacity: 1;
    color: rgb(136 142 168);
    line-height: 1.5;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 30px;
}

.mail, .password {
    margin-bottom: 30px;
    position: relative;
}

.ip-txt {
    border: none;
    outline: none;
    padding: 8px 16px 8px 40px;
    border-radius: .375rem;
    width: 100%;
    border: 0 solid #e5e7eb;
}

.sg-icon {
    border: 1px rgb(224 230 237);
    border-radius: .375rem;
}

.check-box {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    border-radius: .25rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(224 230 237);
}

.sg-icon svg {
    position: absolute;
    content: "";
    top: 1;
}

.checkbox-title {
    color: rgb(136 142 168);
}

.chk-box{
    margin-bottom: 30px;
}

.sg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1.25rem;
    font-weight: 600;
    width: 100%;
    background: rgb(239,18,98);
    background: radial-gradient(circle, rgba(239,18,98,1) 0%, rgba(67,97,238,1) 100%);
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: .375rem;
}    

.or{
    margin-bottom: 2.25rem;
    margin-top: 1.75rem;
    text-align: center;
}

.or-name{
    --tw-text-opacity: 1;
    color: rgb(136 142 168);
    text-transform: uppercase;
    font-weight: 700;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255);
    padding-left: .5rem;
    padding-right: .5rem;
}

.icon-logo{
    background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%);
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon ul{
    margin-left: 110px;
    margin-right: 110px;
}

.sign{
    margin-left: 110px;
    margin-right: 110px;
}

.sg-last{
    font-size: 14px;
}

.sign-up-go{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--color-primary);
}

.name{
    margin-bottom: 30px;
}
.p-2 {
    padding: .5rem;
}
.bg-\[\#fafafa\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.animate-pulse {
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}
.btn-outline-primary {
    --tw-border-opacity: 1;
    border-color: rgb(67 97 238 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(67 97 238 / var(--tw-text-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn, .btn:hover {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 36px;
    width: 36px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 1px;
    padding: .5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-shadow: 0 10px 20px -10px;
    --tw-shadow-colored: 0 10px 20px -10px var(--tw-shadow-color);
    outline: 2px solid #0000;
    outline-offset: 2px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}

